<h3>
  <%= flash[:notice] %>
</h3>

<% if @user %>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Log out" />
</form>
<% else %>
<form action="/sessions/new" method="get">
  <input type="submit" value="Log in" />
</form>
<% end %>

<h1> Book one of our amazing spaces </h1>

<% if @user %>
Welcome, <%= @user.first_name %>
<% end %>

<br>

<% if @user %>
<form action="/spaces/new" method="get">
  <input type="submit" value="List your own space" />
</form>
<% end %>

<dl>
  <% @spaces.each do |spaces| %>
  <dt><%= spaces.name %></dt>
  <dd>- <%= spaces.description %></dd>
  <dd>- £ <%= spaces.price %> per night</dd>
  <br>
  <%end%>
</dl>
