<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/list_spaces.css') %>" rel="stylesheet" />
</head>


<h3>
  <%= flash[:notice] %>
</h3>


<h3>
  <% if @user %>
    Welcome, <%= @user.first_name %>
  <% end %>
</h3>

<% if @user %>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Log out" />
</form>
<% else %>
<form action="/sessions/new" method="get">
  <input type="submit" value="Log in" />
</form>
<% end %>

<h1> Book one of our amazing spaces </h1>

<br>

<h4>
  <% if @user %>
    <form action="/spaces/new" method="get">
      <input type="submit" value="List your own space" />
    </form>
  <% end %>
</h4>

<dl>
  <% @spaces.each do |spaces| %>
  <br>
  <dt><%= spaces.name %></dt>
  <dd><%= spaces.description %></dd>
  <dd>£ <%= spaces.price %> per night</dd>
  <br>
  <%end%>
</dl>
