<main>
<% if @user %>
  <h1> Welcome, <%= @user.first_name %> </h1>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Log out" />
  </form>

  <form action="/spaces" method="get">
    <input type="submit" value="View spaces" />
  </form>
<% end %>

<h1> Availability for <%= @space.name %> </h1>
<h2> Description: <%= @space.description %> </h2>
<h2> Price: <%= @space.price %> </h2>

<dl>
  <% @availability.each do |availability| %>
  <div class="availability-container">
  <ul>
    <li><h3><%= availability.date %></h3></li>
    <form action="/spaces/book" method="get">
      <input type="submit" value="Book space" />
    </form>
  </ul>
  </div>
  <br>
  <%end%>
</dl>

</main>

<style>

  body {
    background-image: url("https://bit.ly/3bRCi1O");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
    background-position: bottom;
  }

  main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.25), rgba(0,0,0,0.3));
  }

  h1 {
    font-family: Arial;
    color: white;
    font-size: 3em;
  }

  h2 {
    text-align: center;
    font-family: Arial;
    color: white;
    font-weight: lighter;
    font-size: 2em;
  }

  h3 {
    text-align: center;
    font-family: Arial;
    color: white;
    font-weight: lighter;
    font-size: 1em;
  }

  .availability-container {
    background: linear-gradient(to bottom, rgba(0,0,0, 0.25), rgba(0,0,0,0.75));
  }

  input[type=submit] {
   width: 200 px;
   margin: 10px 10px 10px 30px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 1em;
   background-color: #ffba00;
   /* padding: 12px 20px 12px 40px; */
  }

</style>
